a{
    text-decoration: none;
}

:root{
    --main-color: #0059ff;
    --black:#202020;
    cursor: url(https://cdn.custom-cursor.com/db/5539/32/cute-dolphin-pointer.png)   , pointer !important;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: var(--black);
    color: black;
    overflow-x: hidden;
}

header{
    background-color:var(--black);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
}

header h1{
    font-size: 30px;
}

header a{
    font-size: 20px;
    margin: 30px;
    text-decoration: none;
    color: white;
}
header a:hover{
    color: #0059ff;
}




#lineContainer{
    display: none;
    background-color: white;
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoCard{
    aspect-ratio: 10/9;
    height: 20vh;
    border: 1px solid #202020;
    background-color: #ffffff29;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;

    transition: all 0.5s ease;
}

.infoCard:hover{
    background-color: #f5f5f5;
}

.infoCard h1{
    color: #202020;
    font-size: 4vh;
    text-align: center;
    transition: all ease 1s;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#overWater{
    background: linear-gradient(to bottom, rgb(7 82 231), rgb(242, 255, 254));
    width: 100%;
    height: 30%;
    display: flex;
}

#infoAtmosphere {
    left: 63%;
    top: 12%;
}

#infoHumans{
    left: 2%;
    top: 50%;
}

#infoCoast{
    left: 28%;
    top: 69%;
}

#ocean{
    background: linear-gradient(to bottom, rgb(17 154 227), rgb(4 72 169));
    width: 100%;
    height: 80%;
}

#infoPhytoplankton{
    left: 16%;
    top: 109%;
}

#infoPhotosynthesis{
    left: 59%;
    top: 123%;
}

#infoEcossystem{
    left: 16%;
    top: 160%;
}

#infoWhales{
    left: 59%;
    top: 189%;
    cursor: url(https://cdn.custom-cursor.com/db/18313/32/cute-purple-whale-pointer.png) , pointer !important;
}

#infoDolphin{
    left: 16%;
    top: 227%;
    cursor: url(https://cdn.custom-cursor.com/db/5540/32/cute-dolphin-cursor.png) , default !important;
}


#infoExtremeDepthsLife{
    left: 59%;
    top: 280%;
}


#linha{
    width: 0.3%;
    height: 300vh;
    background-color: #ccf2ff;
    position: absolute;
    justify-self: center;
}

