:root {
    --light-shades: #e8e8e8;
    --light-accent: #348EFF;
    --main-brand: #215EAB;
    --dark-accent:#13345F;
    --dark-shades: #181818;
}

body{
    background-color: var(--dark-accent);
}


#card-container {
    display: flex;
    flex-wrap: wrap;
}

#cards {
    margin: 20px;
    box-shadow: 7.5px 7.5px 15.5px 0px #3e3e3e;
    transition: all 0.1s ease;
}

#cards:hover {
    transform: translate(10px, -10px);
}

h1{color: var(--light-accent);margin: 10px;}